<h1><%= @course.name  %></h1>
<form action="/courses/<%= @course.id %>" method="post">
	<input type="hidden" name="_method" value="delete">
	<input type="submit" value="Delete Course">
</form>
<%= erb :"assignments/index", locals: {course: @course} %>